*{box-sizing: border-box; margin: 0; padding: 0;}
body{font-size: 16px; font-weight: 400, 700;}
ul li{display: inline-block; list-style: none;}
a{text-decoration: none;}

/* Header Area Style */
#headerr{width: 90%; margin: 0px auto; padding: 15px 0px; }
.header{display: grid; grid-template-columns: 1fr 1fr 1fr; 
     color: hsl(233, 8%, 62%) ; background: hsl(0, 0%, 100%);}
.header-class ul li{padding-right: 20px;}
.request-invite{text-align: center; border: 1px hsl(136, 65%, 51%) solid; border-radius: 14px; width: 140px; padding: 5px; 
    background:#2cbbc5; }

/* Section1 Style Area */
#section1{width: 90%; margin: 0px auto; padding: 15px 0px; background-image: url("img/bg-intro-desktop.svg"); 
    background-position: bottom left; }
    
.wrapper{display: grid; grid-template-columns: 1fr 1fr; }
.wrapper-img img {max-width: 80%; height: auto;}


/* Article Style Area */
article{width: 90%; margin: 0px auto;}
.container{display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; }
.contain img { max-width: 150px; height: auto;}

/* Section2 Style Area */
#section2{width: 90%; margin: 0px auto; padding: 15px 0px;}

/* Footer Style Area */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(233, 8%, 62%); }




/* Responsiveness Style */
@media only screen and (min-width:200px) and (max-width: 768px) {
    
}
