/* Common Style*/
body{font-family: 'Merriweather', serif; font-size: 14px; font-weight: 400; line-height: 1.6em;
}

a{cursor: pointer; transition: 0.5s }
input{cursor: pointer; transition: 0.5s border: 2px;} 
.logo{font-size: 30px; color: #fff;}

/*Header Area Style*/
#header_area{border-top: 5px solid #3bafbe; border-bottom: 3px solid #ddd; background: #1f1f1f; padding: 20px 0 }
.social_area{width: 100%; clear: both;margin-bottom: 20px}
.social_area ul{margin: 0; padding: 0; list-style: none;}
.social_area ul li{display: inline-block; margin-right: 5px;}
.social_area ul li a{background: #1f1f1f; width: 35px; height: 35px; color: #fff; display: block; 
text-align: center; padding-top: 5px; border-radius: 50%; transition: 0.5s}
.social_area ul li a:hover{background: #ee802f;}

/*Search Area Style*/
.search_area{text-align: right; width: 100%; clear: both; margin-bottom: 20px}
.search_area input{background: #333333; color: #fff; border: 0px solid; padding: 10px; border-radius: 5px}
.search_area input[type="submit"]{background: #3bafbe; cursor: pointer; transition: 0.5s}
.search_area input[type="submit"]:hover{background: #ee802f; }

/* Main Menu Style*/
#main_menu{text-align: right;}
#main_menu ul{margin: 0; padding:0; list-style: none;}
#main_menu ul li{display: inline-block;}
#main_menu ul li a{display: block; font-size: 14px; color:#999999; text-transform: uppercase; text-decoration: none; padding: 5px 15px;}
#main_menu ul li a:hover{color: #3bafbe;}

/* Article Area Style */
#article{ width: 90%; margin: 0 auto; text-align: center;}
#article p {font-size: 30px;}


/* Responsiveness Style */
@media only screen and (min-width:200px) and (max-width: 768px) {
    
}