*{box-sizing: border-box; margin: 0; padding: 0;}
body{font-size: 16px; font-weight: 400, 700;}
ul li{display: inline-block; list-style: none;}
a{text-decoration: none;}
h1{ font-size: 40px; padding-bottom: 20px;}
h3 {padding: 20px 0px;}
p{color:hsl(273, 4%, 51%);  padding-bottom: 30px;}

/* Header Style Area */
#header { height: 70px; width: 80%; margin: 0 auto; padding-top: 20px;}
.logo{float: left;}
#header ul li {float: right; margin-left: 20px;}
a{color: hsl(273, 4%, 51%);}
.view-plans{ border: 1px #000 solid; margin:5px; }

/* Section1 Style Area */
section {  height: 350px;background: hsl(256, 26%, 20%); background-image : url(img/bg-pattern-intro-right-desktop.svg); background-repeat: no-repeat; background-position: right; }
#section1{width: 80%; margin: 0 auto;}
.wrapper{display: grid; grid-template-columns: 1fr 1fr; padding-top: 80px;}
.img-wrap{text-align: right;}
.img-wrap img{width: 400px; height: 400px;}
.text-wrap h1 {color: hsl(0, 0%, 98%);}
.text-wrap p { font-size: 18px; }
.text-wrap input {padding: 5px 7px; background:hsl(256, 26%, 20%); color:hsl(273, 4%, 51%) ;}

/* Article Style Area */ 
#article {width: 80%; margin: 0 auto; height: 700px;  padding-top: 200px;}
.wrapper2{display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 10px; }

/* Footer Style Area */
footer{background: hsl(0, 0%, 98%); padding: 20px 0px; }
#footer{width: 80%; margin: 0 auto; }
.wrapper3{display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 10px; padding-top: 30px;}
.wrapper3-item ul li {display: block; padding-bottom: 10px;}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/* Responsiveness Style */
@media only screen and (min-width:200px) and (max-width: 768px) {
    #header ul li {display: none;}
    section {background-image : url(img/bg-pattern-intro-right-mobile.svg); background-repeat: no-repeat; background-position: right; }
    .wrapper, .wrapper2 , .wrapper3{display: block; text-align: center;}
    .img-wrap img{display: none;}
    #article{height: 1000px;}
}
/* #30DaysOFCode*/
