a:link{text-decoration: none;}
ul li {list-style-type: none; display:inline-block; }
a{cursor: pointer; transition: 0.5s;}
input{cursor: pointer; transition: 0.5s;}

#header{text-align: right;}

.top_header{margin-right: 20px;}
#header ul li input{background:#333333; color: #fff; background-color: 0px solid; border-radius: 50%;  }

#main_area{height: 550px}
.img_class{display: block; margin-left: auto;margin-right: auto; width: 50%;}
.search_button{padding: 10px; background:#c0c0c0; margin: 3px; border-radius: 3px; border: 2px;}
.main_items{text-align: center;}
.offered_lang{padding-top: 15px; margin: 5px;}
.offered_lan{margin: 10px;}

.main_items input[type="search"]{width: 500px; border: 2px solid #d3d3d3;  border-radius: 15px; padding: 7px;}








#last_footer{  background: #c0c0c0; }

#last_footer div{margin-left: 20px; padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #ddd;}
#last_footer ul{padding-bottom: 10px;}
.ul_class{float: left;}
.ul2_class{float: right;}


/* Responsiveness Style */
@media only screen and (min-width:200px) and (max-width: 768px) {
  
  
  .main_items input[type="search"]{width: 250px; border: 2px solid #d3d3d3;  border-radius: 15px; padding: 7px;}
  .main_items input[type="button"]{display: none;}
  .search_button{display: none;}
  
  }

